In [1]:
import graphviz
from equiflow import TableFlows, TableCharacteristics, TableDrifts, FlowDiagram, EquifFlow
import pandas as pd
import numpy as np
from IPython.display import Image, display
from matplotlib import pyplot as plt
from IPython.display import SVG
import os
import matplotlib.pyplot as plt

ImportError: cannot import name 'EquifFlow' from 'equiflow' (/Users/joaomatos/Documents/equiflow/equiflow/__init__.py)

In [ ]:
np.random.seed(42)
n = 100000
data = {
    'age': np.random.randint(18, 80, size=n),
    'sofa': np.random.choice([0,1,2,3,4,5,6,7,8,9,10,15, np.nan], size=n),
    'race': np.random.choice(['White', 'Black', 'Asian', 'Hispanic', None],
                             size=n),
    'sex': np.random.choice(['Male', 'Female'], size=n),
    'english': np.random.choice(['Fluent', 'Limited', np.nan, None], size=n),
}

for i in range(1, 11):
    data[f'var{i}'] = np.random.randn(n)

df = pd.DataFrame(data)

# apply exclusions to make a list
data_0 = df.copy()
data_1 = data_0.loc[data_0.english.notnull()]
data_2 = data_1.loc[data_1.sofa.notnull()]

# data_3a = data_2.loc[data_2.sofa <= 5]
# data_3b = data_2.loc[data_2.sofa > 5]
# data4a = data_3a.loc[data_3a.age < 50]
# data4b = data_3a.loc[data_3a.age >= 50]

In [ ]:
a = data_0.english.notnull()

dtype('bool')

In [ ]:
# build table flows
table_flows = TableFlows(
    dfs=[data_0, data_1, data_2],
    label_suffix=True,
    thousands_sep=True,
)

table_flows.view()

Cohort Flow   0 to 1  1 to 2

Initial, n   100,000  50,022
Removed, n    49,978   3,874
Result, n     50,022  46,148

In [ ]:
table_characteristics = TableCharacteristics(
    dfs = [data_0, data_1, data_2],
    categorical = ['race','sex', 'english'],
    # normal = [],
    # nonnormal = [],   
    nonnormal = ['sofa'],
    normal = ['age'],
    format_cat = '%',
    # format_cont = 'Mean Â± SD',
    format_normal = 'Mean',
    format_nonnormal='Median [IQR]',
    missingness = True,
    decimals = 1,
    label_suffix = True,
    thousands_sep = False,
    # rename = {}
    rename={'race': 'Race and Ethnicity',
            'english': 'English Proficiency',
            'sex':'Sex',
            'sofa': 'SOFA',
            'age': 'Age',  
            }
)

table_characteristics.view()

                                         Cohort                  \
                                              0               1
Variable               Value
Overall                                  100000           50022
Race and Ethnicity, %  Hispanic            20.0            20.0
                       Asian               20.0            19.8
                       Black               20.1            20.2
                       White               19.9            19.9
                       Missing             20.0            20.0
Sex, %                 Male                50.1            50.1
                       Female              49.9            49.9
                       Missing              0.0             0.0
English Proficiency, % Fluent              25.1            50.2
                       Limited             24.9            49.8
                       Missing             50.0             0.0
Age, Mean                                  48.5            48.5
                       Missing              0.0             0.0
SOFA, Median [IQR]               6.0 [3.0, 9.0]  6.0 [3.0, 9.0]
                       Missing              7.8             7.7


                                              2
Variable               Value
Overall                                   46148
Race and Ethnicity, %  Hispanic            19.9
                       Asian               19.8
                       Black               20.2
                       White               20.0
                       Missing             20.1
Sex, %                 Male                50.0
                       Female              50.0
                       Missing              0.0
English Proficiency, % Fluent              50.3
                       Limited             49.7
                       Missing              0.0
Age, Mean                                  48.5
                       Missing              0.0
SOFA, Median [IQR]               6.0 [3.0, 9.0]
                       Missing              0.0

In [ ]:
table_drifts = TableDrifts(
    dfs=[data_0, data_1, data_2],
    categorical = ['race','sex', 'english'],
    # categorical=[],
    nonnormal = ['sofa'],
    normal = ['age'],
    # nonnormal = [],
    # normal = [],
    # missingness = True,
    decimals = 3,
    # label_suffix = True,
    # thousands_sep = False,
    rename={'race': 'Race and Ethnicity',
            'english': 'English Proficiency',
            'sex':'Sex',
            'sofa': 'SOFA',
            'age': 'Age',  
            }
)
table_drifts.view()

Cohort Flow                  0 to 1 1 to 2
Variable            Value
Overall
Race and Ethnicity  Hispanic    0.0  0.002
                    Asian     0.003    0.0
                    Black     0.003  0.001
                    White       0.0  0.001
Sex                 Male        0.0  0.001
                    Female      0.0  0.001
English Proficiency Fluent    0.537  0.002
                    Limited   0.532  0.002
Age                          -0.003 -0.001
SOFA                          0.009    0.0

In [ ]:
table_drifts.view_simple()

Cohort Flow         0 to 1 1 to 2
Race and Ethnicity   0.006  0.005
Sex                      0      0
English Proficiency  1.414      0
Age                 -0.003 -0.001
SOFA                 0.009    0.0

In [ ]:
table_drifts = TableDrifts(
    dfs=[data_0, data_1, data_2],
    categorical = ['race','sex', 'english'],
    # categorical=[],
    nonnormal = ['sofa'],
    normal = ['age'],
    # nonnormal = [],
    # normal = [],
    # missingness = True,
    decimals = 3,
    # label_suffix = True,
    # thousands_sep = False,
    rename={'race': 'Race and Ethnicity',
            'english': 'English Proficiency',
            'sex':'Sex',
            'sofa': 'SOFA',
            'age': 'Age',  
            }
)
table_drifts.view_simple()

Cohort Flow         0 to 1 1 to 2
Race and Ethnicity   0.006  0.005
Sex                      0      0
English Proficiency  1.414      0
Age                 -0.003 -0.001
SOFA                 0.009    0.0

In [ ]:


# build flow diagram
flow_diagram = FlowDiagram(
    table_flows,
    table_characteristics,
    table_drifts,
    cohort_labels=[
        '___ patients \nin MIMIC-IV',
        '___ patients with \nEnglish proficiency data',
        '___ patients with \nSOFA data',
        '___ patients in \nthe final cohort',
    ],
    exclusion_labels=[
        '___ patients excluded for\nmissing English proficiency',
        '___ patients excluded \nfor missing SOFA score',
    ],
    legend=True,
    smds=True,
    plot_dists=True, 
    legend_with_vars=True,
    box_width=2.5,
    box_height=1,
    )

flow_diagram.view()

# from wand.image import Image as WImage
# img = WImage(filename='temp/patient_flow.pdf', resolution=120) # bigger
# img


# # delete temp folder with os
# import shutil
# shutil.rmtree('temp')

In [ ]:
# fix bugs with categorical needing to be always there
# create equiflow class
# add text reports

In [ ]:
equiflow.add_exclusion(mask=df0.english.notnull(), label)
equiflow.add_exclusion(mask=df0.english.notnull(), label)
equiflow.add_exclusion(mask=df0.english.notnull(), label)

#kwargs or args

SyntaxError: positional argument follows keyword argument (1287175066.py, line 1)